# Spring Boot
target/
*.log

# Backend
/backend/target/
backend/target/

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# React
frontend/node_modules/
frontend/dist/
frontend/.env 